@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-nunito: Nunito;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-2xs: 11px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-smi: 13px;
  --font-size-4xs: 9px;
  --font-size-mid: 17px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;

  /* Colors */
  --color-aliceblue: #e7ebf2;
  --color-sandybrown-100: #fba556;
  --color-sandybrown-200: #f7a152;
  --color-white: #fff;
  --color-limegreen: #2bc155;
  --color-gainsboro-100: #e2e6ed;
  --color-gainsboro-200: #dbdbdb;
  --color-black: #000;
  --color-darkgray-100: #a5aaaf;
  --color-darkgray-200: #9b9b9b;
  --color-darkslategray-100: #414141;
  --color-darkslategray-200: #2e2e2e;
  --color-darkslategray-300: #2d2d2d;
  --color-whitesmoke-100: #f4f4f4;
  --color-whitesmoke-200: #efefef;
  --color-royalblue-200: #007fff;
  --color-royalblue-300: #027df8;
  --color-royalblue-400: #0077ed;
  --color-royalblue-500: #0074e7;
  --color-gray-100: #8a8a8a;
  --color-main-text: #222132;
  --color-gray-200: rgba(255, 255, 255, 0.09);
  --color-gray-300: rgba(137, 137, 137, 0.05);
  --color-dimgray: #756f6f;

  /* Gaps */
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;
  --gap-3xl: 22px;
  --gap-2xl: 21px;
  --gap-4xs: 9px;
  --gap-41xl: 60px;
  --gap-2xs: 11px;
  --gap-37xl: 56px;
  --gap-9xs: 4px;
  --gap-75xl: 94px;
  --gap-42xl: 61px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-53xl: 72px;
  --gap-lgi: 19px;
  --gap-lg: 18px;
  --gap-14xl: 33px;
  --gap-4xl: 23px;
  --gap-76xl: 95px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-xs: 12px;
  --padding-mid: 17px;
  --padding-smi: 13px;
  --padding-2xs: 11px;
  --padding-mini: 15px;
  --padding-22xl: 41px;
  --padding-7xl: 26px;
  --padding-6xs: 7px;
  --padding-lg: 18px;
  --padding-7xs: 6px;
  --padding-4xs: 9px;
  --padding-10xl: 29px;
  --padding-8xs: 5px;
  --padding-base: 16px;
  --padding-4xl: 23px;
  --padding-9xl: 28px;
  --padding-9xs: 4px;
  --padding-6xl: 25px;

  /* border radiuses */
  --br-sm: 14px;
  --br-lg: 18px;
  --br-2xl: 21px;
  --br-5xs: 8px;
  --br-2xs: 11px;
  --br-11xl: 30px;
  --br-51xl: 70px;
  --br-xs: 12px;
}

@keyframes shake-horizontal {
  0%,
  to {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
.articles .section-name,
.articles .section-name-title-articles {
  position: relative;
  font-weight: 500;
}
.articles .section-name {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
.articles .section-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.articles .dzd6 {
  position: relative;
  font-weight: 500;
  text-align: center;
}
.articles .amount-and-dzd-container6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.articles .section-amount-container,
.articles .section-amount-details {
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles .section-amount-container {
  border-radius: 11px;
  background-color: #efefef;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 39px;
  flex-direction: row;
  padding: 11px 13px;
  font-size: 11px;
  color: #000;
}
.articles .section-amount-details {
  flex-direction: column;
  gap: 7px;
}
.articles .section-details {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 25px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 95px;
}
.articles .allocated-amount,
.articles .articles1,
.articles .remaining-allocated-amount {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 267px;
  font-weight: 500;
  z-index: 0;
}
.articles .articles1,
.articles .remaining-allocated-amount {
  left: 459px;
  z-index: 1;
}
.articles .articles1 {
  left: 64px;
  z-index: 2;
}
.articles .articles-details-titles {
  width: 652px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 115px;
}
.articles .vector-icon8 {
  position: relative;
  width: 11px;
  height: 15px;
}
.articles .article-name-container2,
.articles .icsection2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.articles .icsection2 {
  border-radius: 8px;
  background-color: #fba556;
  width: 26px;
  height: 26px;
  padding: 12px 13px;
  justify-content: center;
}
.articles .article-name-container2 {
  border-radius: 14px;
  border: 0.7px solid #2e2e2e;
  height: 44px;
  overflow: hidden;
  padding: 9px 15px;
  justify-content: flex-start;
  gap: 9px;
}
.articles .vector-icon9 {
  position: relative;
  width: 13px;
  height: 16px;
}
.articles .amount-and-dzd-container7,
.articles .ic-amount-grey2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.articles .ic-amount-grey2 {
  border-radius: 8px;
  background-color: #8a8a8a;
  width: 26px;
  height: 26px;
  padding: 12px 13px;
  box-sizing: border-box;
  align-items: center;
}
.articles .amount-and-dzd-container7 {
  width: 111px;
  align-items: flex-start;
  gap: 4px;
}
.articles .article-allocated-amount-conta2 {
  border-radius: 14px;
  border: 0.7px solid #2e2e2e;
  box-sizing: border-box;
  width: 180px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 9px 15px;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
}
.articles .article,
.articles .icamount1 {
  display: flex;
  flex-direction: row;
}
.articles .icamount1 {
  border-radius: 8px;
  background-color: #2bc155;
  width: 26px;
  height: 26px;
  padding: 12px 13px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.articles .article {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 56px;
}
.articles .div {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 115px;
  flex-shrink: 0;
}
.articles .articles-details {
  align-items: flex-start;
  gap: 19px;
  text-align: center;
  font-size: 11px;
  color: #2e2e2e;
}
.articles .allocate-container,
.articles .articles-container,
.articles .articles-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.articles .articles-container {
  width: 652px;
  align-items: center;
  gap: 23px;
}
.articles .allocate-container {
  align-items: flex-start;
  gap: 33px;
  z-index: 0;
}
.articles .vector-icon23 {
  position: relative;
  width: 20px;
  height: 20px;
}
.articles .articles,
.articles .go-back-button1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.articles .go-back-button1 {
  cursor: pointer;
  border: 0;
  padding: 4px 6px;
  background-color: transparent;
  margin: 0 !important;
  position: absolute;
  top: 32px;
  left: 22px;
  width: 47px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.articles .go-back-button1:hover {
  animation: 5s linear 0s infinite normal none shake-horizontal;
  opacity: 1;
}
.articles {
  position: relative;
  background-color: #e7ebf2;
  width: 100%;
  height: 720px;
  padding: 77px 23px 30px 139px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px;
  text-align: left;
  font-size: 13px;
  color: #222132;
  font-family: Poppins;
}
